<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="Templates" value="C:\Projects\Netology.SuperHero\DataLayer\Templates" />
  </appSettings>
  
  <connectionStrings>
    <add name="DSN" 
       providerName="System.Data.SqlClient"
       connectionString="Data Source=localhost;Initial Catalog=master;Persist Security Info=True;User ID=netuser;Password=netpass;"/>
  </connectionStrings>
  
</configuration>